doctype html
html
	head
		title=	pdfName
		<link rel='stylesheet' href='#{stylesheet}'/>
	body
		div#header-right 
			<img src='#{logoBB}' />
		div#header-left	BLAWSBLAWS
    
	div.page
		for book in books
			if book.available
				p #{book.name} for #{book.price} €
				
	div#footer	Um Footer qualquer