/* PDF DEFINITION */
* {
  margin: 0;
  border: none;
  padding: 0;
}
@page {
  size: A4 portrait;
  width: 21cm;
  height: 29.7cm;
  background: white;

  @top-right {
    content: element(header-right);
  }
  @top-left {
    content: element(header-left);
  }
  @bottom-center {
    content: element(footer);
  }
  @bottom-right {
    content: counter(page);
  }
}
#header-right {
  position: running(header-right);
  background-color: #dedede;
  text-align: right !important;
  padding: 15px 0px !important;
}
#header-right img {
  margin-right: -20px !important;
}

#header-left {
  position: running(header-left);
  background-color: #dedede;
}
#footer {
  position: running(footer);
}
.page {
  margin-top: 60px !important;
}
